@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  background-color: #f5f0f0;
  overflow-x: hidden;
}
.link:hover {
  color: #ff5252;
}
.MuiBadge-badge {
  background-color: #ff5252 !important;
}
Button {
  text-transform: capitalize !important;
  font-family: "lexend" !important;
}
.submenu {
  z-index: 10;
}

.subnav li .submenu {
  opacity: 0;
  visibility: hidden;
}
.subnav li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit;
  top: 100%;
}
.subnav li .submenu Button:hover {
  color: #ff5252 !important;
}
.subnav li .submenu li .submenu {
  opacity: 0 !important;
  visibility: hidden !important;
  left: 90% !important;
}
.subnav li .submenu li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit !important;
}
.subnav li .submenu li .submenu Button:hover {
  color: #ff5252 !important;
}
.item {
  border: 1px solid #dadada;
}
.sliderHome {
  overflow: inherit !important;
}
.swiper-pagination-bullet {
  height: 8px !important;
  width: 8px !important;
  border-radius: 50% !important;
  background-color: #f80000 !important;
  transition: all 0.3s ease-in-out;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ff5252 !important;
  height: 6px !important;
  width: 25px !important;
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px !important;
  height: 35px !important;
  background-color: #ff5252;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 17px !important;
}
.homecatslider img:hover {
  transform: scale(1.1);
}
.homecatslider img {
  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff5252, #ff7675);
  border-radius: 10px;
  transition: background 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff3e3e, #ff6b6b);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.MuiTabs-indicator {
  background-color: #ff5252 !important;
}
.Mui-selected {
  color: #ff5252 !important;
}
.MuiFormControlLabel-label {
  font-family: "poppins", sans-serif !important;
  font-size: 14px !important;
}
.MuiCheckbox-colorPrimary {
  color: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}
.homeSliderV2 .swiper-button-prev {
  left: -10% !important;
  transition: all 0.5s ease-in-out;
}
.homeSliderV2 .swiper-button-next {
  right: -10% !important;
  transition: all 0.5s ease-in-out;
}
.homeSliderV2:hover .swiper-button-prev {
  left: 15px !important;
}
.homeSliderV2:hover .swiper-button-next {
  right: 15px !important;
}
.bannerBoxV2{
  height: 255px;
}
.sidebar .MuiCheckbox-root{
  padding: 6px !important;
}
.sliderproductimage .swiper-slide{
  height: auto !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea{
  resize: none;
}
.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
  font-family: 'poppins' !important;
}
.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root{
  font-family: 'poppins' !important;
}
.MuiInputLabel-outlined.Mui-focused {
  color: #ff5252 !important;
  opacity: 65% !important;
}
.MuiInputLabel-outlined {
  opacity: 65% !important;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ff5252 !important;
  opacity: 65% !important;
}